.testimonials {
  background-color: #495e57;
  height: max-content;
}

.title {
  font-family: "Markazi Text", serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #f4ce14;
  text-align: center;
}

.image {
  width: 10rem;
  border-radius: 50%;
  margin: 2rem auto 15rem;
}

.name {
  font-size: 1.5rem;
  color: #edefee;
}

.rating {
  font-size: 1.125rem;
}

.review {
  padding: 0 30%;
  color: #edefee;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  .review {
    padding: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .image {
    margin-bottom: 22rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .image {
    margin-bottom: 18rem;
  }
}

