.dish {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.6rem;
}

.description {
    font-size: 1.2rem;
}

@media screen and (max-width: 576px) {
    .dish {
        font-size: 1.2rem;
    }

    .description {
        font-size: 0.8rem;
    }
}