.hero-section {
  background-image: url("../../public/images/reservation-bg.png");
  background-size: cover;
  background-position: center;
  font-family: "Markazi Text", serif;
}

.title {
    composes: title from "./MainHeroSection.module.css";
}

.subtitle {
    composes: subtitle from "./MainHeroSection.module.css";
}

.description {
    composes: description from "./MainHeroSection.module.css";
}